        
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<div  class="d-flex flex-wrap">
<p *ngIf="currentUser" style="padding-right:10px ;"> {{currentUser.firstName}} {{currentUser.lastName}}</p>
<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"> <img src="assets/images/users/1.jpg" alt="user" class="profile-pic"></button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon> Logout </button>
</mat-menu>

</div>