.page-content{
    height: inherit;
}

/* Ag-Grid */
.btn-ag-grid{
    padding: 0.1em !important;
    width: 35px;
    height: 30px;
}

/* Ag-Grid - Text */
.verticalAlignText{
    display: flex !important;
    align-items: center !important;
}

.horizontalAlignText{
    justify-content: center !important;
}

/* Ag-Grid - Percentatge */
div[col-id="percentatge_correccio"].ag-cell-value span:first-of-type{
    width: 100%;
}


/* Ag-Grid - Buttons */
.buttonsAccionsAgGrid{
    min-width: 100% !important;
    line-height: 1em !important;
    padding: 0.3em !important;
    border-radius: 0.3em !important;
}
.buttonsAccionsAgGrid .mat-button-wrapper{
    font-size: .9em !important;
}