<div id="menuCriteris">
    <div class="titolPreguntaMenu">
      <h2>{{currentSectionRendered}}</h2>
    </div>
    <div *ngFor = "let pregunta of preguntes;let i = index; let last = last" id="criteris-pregunta{{i+1}}" class="menuPregunta menuPregunta{{i+1}}" ngClass="{ 'current-section': currentSection === 'pregunta{{i+1}}' }" >
      <p>Puntuació: {{ getValoracioCriteris(pregunta.criteris) }} / {{pregunta.valoracio_maxima}}</p>
      <div  *ngFor = "let criteri of pregunta.criteris">
        <mat-checkbox [(ngModel)]="criteri.checked" [disabled]="pregunta.puntuacioPersonalitzada"><div class="criteriValor">{{criteri.valor}}</div><div class="criteriDescripcio">{{criteri.descripcio}}</div></mat-checkbox><br/>
        <mat-divider></mat-divider>
      </div>
      <mat-slide-toggle
        class="ajustNotaToggle"
        [color]="color"
        [(ngModel)]="pregunta.puntuacioPersonalitzada">
        Ajust de nota
      </mat-slide-toggle>
      <mat-form-field *ngIf="pregunta.puntuacioPersonalitzada">
        <input matInput type="number" placeholder="Nota ajust" min="0" max="{{pregunta.valoracio_maxima}}">
      </mat-form-field>
      <mat-form-field *ngIf="pregunta.puntuacioPersonalitzada">
        <mat-label>Explicació ajust</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="10"></textarea>
      </mat-form-field>
    </div>

    <div id="guardarCorreccioDiv">
      <p>Nota examen: {{getNotaExamen(preguntes)}}</p>
      <button id="guardarCorreccio" (click)="guardar()" mat-flat-button color="primary">Guardar correcció</button>
    </div>

  </div> 
  
  <div id="parentDiv" (window:resize)="onResize()" scrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionChange($event)">
    <div id="capcaleraExamen" [ngStyle]="{'height': getTamanyCapcalera()}"></div>
    <div  *ngFor = "let pregunta of preguntes; let i = index;" id="pregunta{{i+1}}" class="divOcultPreguntaExamen"  [ngStyle]="{'height': getTamanyPregunta(i)}" ></div>
    <img id="examen" [src]="getUrlExamen()">
  </div>

  <div id="navegacioPreguntes">
    <div class="pagination">
        <ul>
            <li *ngFor = "let pregunta of preguntes; let i = index;" (click)="scrollTo(i+1)"><button mat-fab id="navegacio-pregunta{{i+1}}" class="navegacioPregunta">{{i+1}}</button></li>
        </ul>
    </div>
  </div>